<a href="https://colab.research.google.com/github/WebAishwarya/Data-Analyst_Unified-Mentor/blob/main/PythonBasics_Day1_UnifiedMentor.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# DAY 1

---

# 1.1 Python Basic Terms

# Syntax And Comments

**Valid Syntax**

In [ ]:
print('Name : Aishwarya Prabhakar Jadhav')

Name : Aishwarya Prabhakar Jadhav

In [ ]:
name ='Aishwarya'    # Variable Assignment
print(name)          # Printing Variable

Aishwarya

**Invalid Syntax**

In [ ]:
sai = 'Sai'
print(Name)

NameError: name 'Name' is not defined

**Comment**

In [ ]:
# Comment is represented by 'Hash' keyword
# This is the comment
# Comment is not executable ; It is just for information purpose.

In [ ]:
name ='Aishwarya'   # This is my name
print(name)

# 1.2 Python Data Types, Type Casting & Variables

**Python Data Types**


*   **Text Type:**	str
*   **Numeric Types:**	int, float
*   **Sequence Types:**	list, tuple, range
*   **Mapping Type:**	dict
*   **Set Types:**	set
*   **Boolean Type:**	bool

**String Text Type**

In [ ]:
str('Aishwarya')

'Aishwarya'

**Numeric Types**

In [ ]:
name = 'Aishwarya'
age = 20
percent = 87.90

In [ ]:
type(name)

str

In [ ]:
type(age)

int

In [ ]:
type(percent)

float

**Sequence Types**

In [ ]:
student1 = [ 'Aishwarya', 20, 87.90 ]     # List - can be modify
student2 = ( 'Aishwarya', 20, 87.90 )     # Tuple - cannot be modify
student = range(10)

In [ ]:
type(student1)

list

In [ ]:
type(student2)

tuple

In [ ]:
type(student)

range

In [ ]:
print(student)

range(0, 10)

**Mapping Type**

In [ ]:
student = { 'name' : 'Aishwarya', 'age' : 20, 'percent' : 87.90 }
# ':' is use to connect key and value
# ',' is use to separate the values

In [ ]:
student

{'name': 'Aishwarya', 'age': 20, 'percent': 87.9}

In [ ]:
student.keys()

dict_keys(['name', 'age', 'percent'])

In [ ]:
student.values()

dict_values(['Aishwarya', 20, 87.9])

**Set Type**

In [ ]:
student = { 'Aishwarya', 20, 87.90 }
# set prints values randomly

In [ ]:
student

{20, 87.9, 'Aishwarya'}

In [ ]:
type(student)

set

**Boolean Type**

In [ ]:
bool(1)

True

In [ ]:
bool(0)

False

In [ ]:
bool(-1)

True

# 1.3 Python Operators

**Python Operators**

*   Arithmetic operators
*   Assignment operators
*   Comparison operators
*   Logical operators
*   Membership operators

**Arithmetic Operators**

In [ ]:
# (+,-,*,/,%,**)    Used with numeric values to perform common mathematical operations

x = 5
y = 8

# print(x + y, x - y, x * y, x / y, x % y, x ** y)

print(x * y)

40

**Assignment Operators**

In [ ]:
# (=,+=,-=,*=,/=,%=,**=)    Used to assign values to variables

x, y = 5, 8

# print (x = y, x += y, x -= y, x *= y, x %= y, x /= y, x **= y)

x = x * y

print(x)

40

**Comparison Operators**

In [ ]:
# (==,!=,<,>,<=,>=)     Used to compare two values

# print(x == y, x != y, x < y, x > y, x <= y, x >= y)

x, y = 5, 8

x <= y

True

**Logical Operators**

In [ ]:
# and, or, not    Used to combine conditional statements

# print(x and y, x or y, not y)

case1 = (x < y) and (x == y)
print(case1)

case2 = (x < y) or (x == y)

print(case2,not(case2))

False
True False

**Membership Operators**

In [ ]:
# (==,!=,<,>,<=,>=)    Used to test if a sequence is presented in an object

# print(x in y, x not in y)

x = [1,2,3,4,5]
y = 6

y not in x

True