<a href="https://colab.research.google.com/github/WebAishwarya/Data-Analyst_Unified-Mentor/blob/main/Python_Basics_Assignment_Day_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<a id='1'></a><center> <h3 style="background-color:orange; color:white" ><br>Python Basics<br></h3>

In [ ]:
# What is your name! print your name!
# Only use one print function

name = 'Aishwarya Prabhakar Jadhav'
print(name)

Aishwarya Prabhakar Jadhav

* `()` <= `Parentheses`
* `''` <= `Single Quotes`
* `""` <= `Double Quotes`
* `\n` <= `New_line `
* `#` <= `Used to comment inside code`

In [ ]:
# define variables named as with values: mukesh=7, z=6, rohan=5, longitude=4
mukesh = 7
z = 6
rohan = 5
longitude = 4

In [ ]:
# print required variable
# output - 5
print(rohan)

5

Variable Assignment:
**`Variable_Name = Value`**

Variables Naming Rules:
* `Python is case-senstive` => x=5 is different from X=5 (one is lowe and other is upper case)
* `var name can't start with special character except underscore(_)` => _X = 7 is `valid`, @X = 7 is `invalid`
* `var name can't start with number` => 9X = 7 is `invalid`, X9 = 7 is `valid`
* can't use `keywords` as a variable name
    *

# **`Declaring a Variable`** <br>

In [ ]:
# declare 4 variables with values as: ur_age 21,ur_weight 50.6, ur_first_name = 'Mukesh',ur_last_name = "Manral"
ur_age = 21
ur_weight = 50.6
ur_first_name = 'Mukesh'
ur_last_name = "Manral"

# **`Data Type(Type of variable)`**

| Name | Type | Description |
| ---- | ---- | ----|
|Integers | int | Integer number, like 34,-56 ...|
|Float | float | Decimal number, like 3.4,-5.6 ...|
|String| str | Ordered sequence of characters, like 'your name' |
|Boolean |bool |Logical values indicating True or False only |

In [ ]:
# print type of ur_age,ur_weight,ur_first_name,ur_last_name variables
print("Type of ur_age : ",type(ur_age))
print("Type of ur_weight : ",type(ur_weight))
print("Type of ur_first_name : ",type(ur_first_name))
print("Type of ur_last_name : ",type(ur_last_name))

Type of ur_age :  <class 'int'>
Type of ur_weight :  <class 'float'>
Type of ur_first_name :  <class 'str'>
Type of ur_last_name :  <class 'str'>

In [ ]:
# print values of ur_age,ur_weight,ur_first_name,ur_last_name variables
print("Value of ur_age : ",ur_age)
print("Value of ur_weight : ",ur_weight)
print("Value of ur_first_name : ",ur_first_name)
print("Value of ur_last_name : ",ur_last_name)

Value of ur_age :  21
Value of ur_weight :  50.6
Value of ur_first_name :  Mukesh
Value of ur_last_name :  Manral

In [ ]:
# make 2 variables with values as: ur_first_name 'Mukesh',ur_last_name'Mukesh'
ur_first_name = 'Mukesh'
ur_last_name = 'Mukesh'

# make a variable TrueOrFalse which will have comparison of variables ur_last_name == ur_first_name
TrueOrFalse = ur_last_name == ur_first_name

In [ ]:
TrueOrFalse

True

In [ ]:
# define a variable name "x" and assign value 777 and print it
x = 777
print(x)

777

* To view some data on screen, python have `print` function
    * Using `print` function we can control view on output screen

`Operators`: Symbols that represent mathematical or logical tasks

Example:<br>
`700` `+` `77`<br>
* `+` <= Operator
* `700` & `77` <= Operands

In [ ]:
# Initialize variables [x,y,z,zz] with values
## x as 7 =>int ,
## y as 77 =>int,
## z as 77.7 => float,
## zz as 'Hi' => string

x = 7
y = 77
z = 77.7
zz = 'Hi'

# **`Arithmetic Operators`**

In [ ]:
# add x and z
add = x + z
print(add)

84.7

In [ ]:
# subtract z and y
sub = z - y
print(sub)

0.7000000000000028

In [ ]:
# Multiply x and z
Mul = x * z
print(Mul)

543.9

In [ ]:
# Exponent (raise the power or times) x times z
Exponent = x ** z
print(Exponent)

4.614426248242042e+65

In [ ]:
# division on x and z
Div = x / z
print(Div)

0.09009009009009009

`//` => divides and returns integer value of quotient
* It will dump digits after decimal

In [ ]:
# floor division(ignores decimal) on x and z (gives quotient)
Floor_Div = x // z
print(Floor_Div)

0.0

In [ ]:
# Modulo(gives remainder) on x and z
Mod = x % z
print(Mod)

7.0

# **`Comparison Operators`**

In [ ]:
# comapre and see if x is less then z
# can use '<' symbol

if x < z:
    print('x is less then z')
else:
    print('x is greater then z')

x is less then z

In [ ]:
# check the type of above comaprison where it says comapre and see if x is less then z
type(x < z)

bool

* `Bool` => takes two values, either `True` or `False`

In [ ]:
# compare and see if x is less then or equall to z
# can use '<=' symbol
if x <= z:
    print('x is less then or equal to z')
else:
    print('x is greater then z')

x is less then or equal to z

In [ ]:
# comapre and see if x equall to z
# can use '==' symbol
if x == z:
    print('x is equal to z')
else:
    print('x is not equal to z')

x is not equal to z

In [ ]:
# comapre and see if x is greater than z
# can use '>' symbol
if x > z:
    print('x is greater then z')
else:
    print('x is less then z')

x is less then z

In [ ]:
# comapre and see if x is greater than or equall to z
# can use '>=' symbol
if x >= z:
    print('x is greater then or equal to z')
else:
    print('x is less then z')

x is less then z

In [ ]:
# comapre and see if x is Not equall to z
# can use '!=' symbol
if x != z:
    print('x is not equal to z')
else:
    print('x is equal to z')

x is not equal to z

# **`Logical Operators`**

In [ ]:
# compare if 108 is equall to 108, 21 is equall to 21 using logical and
# equall to => '=='
# logical and => and

# in and both condition must be True to get a True

if 108 == 108 and 21 == 21:
    print('Both condition is True')
else:
    print('Both condition is False')

Both condition is True

In [ ]:
# how above condition can give False as output show all those conditions
if 108 != 108 or 21 == 21:
    print('Both condition is False')
else:
    print('At least one condition is True')

Both condition is False

In [ ]:
# compare if 108 is equall to 108, 21 is equall to 11 using logical or
# equall to => '=='
# logical or => or

# in or Only one condition need to be True to get a True
if 108 == 108 or 21 == 11:
    print('At least one condition is True')
else:
    print('Both condition is False')

At least one condition is True

In [ ]:
# this is for you to understand it
(108 == 108) or (21 == 11) or (108 <= 11)

True

# **`if`--- `else`** => to handle single condition <br>
# **`if`--- `elif`--- `else`** => to handle Multiple condition

`Observe in Python code:`
* `if` => statement in python
* `else` => statement in python
* `:` => colon => denotes start of if block i.e. any line written after colon belong to if condition
* `....` => see then as indentation i.e. 4 spaces => indentation indicates all code belong to only if and then another indentation indicates code for only else block

In [ ]:
# make variable with value as : money 100000

# see output of money > 2000

money = 100000
if money > 2000:
    print('You have more than 2000 in your account')
else:
    print('You have less than 2000 in your account')

You have more than 2000 in your account

In [ ]:
# assign money variable value of 10000
##### say you have this much ammount in your account

# start of if condition
# if money is greater then 1000 which is data science course free
# if money > 1000 is false i.e. you have less money then 1000 in your account then else will work for now only if is working

money = 10000
if money > 1000:
  print('Data Science course is free')
else:
  print('you have less money then 1000 in your account')

Data Science course is free

In [ ]:
# take a test_score variable with 80 in it.

# if test_score greater then 80 then print A grade
# elif test_score greater then 60 and less then 80 print B grade
# else print Nothing for you

test_score = 80
if test_score > 80:
    print('A grade')
elif test_score > 60 and test_score < 80:
    print('B grade')
else:
    print('Nothing for you')

Nothing for you

# **`Python Loops`**

In [ ]:
"""
for iterating_variable in sequence:
    statement(s)
"""

'\nfor iterating_variable in sequence:\n    statement(s)\n'

In [ ]:
for iterating_variable in range(10):
    print(iterating_variable)

0
1
2
3
4
5
6
7
8
9

In [ ]:
# print 'I love sports' 10 times using for loop
text = 'I love sports'
for i in range(10):
    print(text)

I love sports
I love sports
I love sports
I love sports
I love sports
I love sports
I love sports
I love sports
I love sports
I love sports

`10` => `stoping criteria` of, for loop

* `in` => keyword
* `sequence` => on which to itterate
* `:` => colon , start of for loop

`!=` = not equall to => `behaves as a stoping criteria`

In [ ]:
# Syntax of while loop
"""
while comparison:
    statements(s)
"""

'\nwhile comparison:\n    statements(s)\n'

In [ ]:
# while loop

# save 0 in variable number

# print till 10 using while loop

number = 0
while number <= 10:
    print(number)
    number += 1

0
1
2
3
4
5
6
7
8
9
10

* Initialized variable `number = 0` and then increment it's value in each iteration
* Loop will only continue to run only if value is less than 10

# **`Type of Jump Statements`** <br>
`Break Statement`
`Continue Statement`

# **`Break Statement`**

In [ ]:
# example that uses break statement in a for loop

# take range(10) and print 'The number is' + value
# break when num equals 5

for i in range(10):
    print('The number is',i)
    if i == 5:
        break

The number is 0
The number is 1
The number is 2
The number is 3
The number is 4
The number is 5

# **`Continue Statement`**

In [ ]:
# Using same `for loop program` as in Break Statement section above
# Use a continue statement rather than a break statement

# take range(10) and print 'The number is' + value
# continue when num equals 5

for i in range(10):
    if i == 5:
        continue
    print('The number is',i)

The number is 0
The number is 1
The number is 2
The number is 3
The number is 4
The number is 6
The number is 7
The number is 8
The number is 9

# **`String Manipulation`**

In [ ]:
string_ = '' or "" or """ """

In [ ]:
# define a string variable with "We are creating next generation data science eco-system at CollegeRanker"

string = 'We are creating next generation data science eco-system at CollegeRanker'

In [ ]:
# Find length of string including spaces

length_of_str = len(string)
print(f"The length of the string is : {length_of_str}")

The length of the string is : 72

In [ ]:
# Access characters in a string with indexing i.e string[0]

first_char = string[0]
print(f"The first character is: {first_char}")

The first character is: W

In [ ]:
# Access characters with negative indexing i.e string[-1]

char = string[-1]
print(char)

r

# String Slicing

In [ ]:
# select string from first to 6th element i.e string[:6]

x = string[:6]
print(x)

We are

In [ ]:
# select string from 7th to negative 10th element i.e string[7:-10]

y = string[7:-10]
print(y)

creating next generation data science eco-system at Col

Count of a particular `character` in a string

In [ ]:
z = string.count('e')
print(z)

13

Count of a particular `sub-string` in a string

In [ ]:
substring = "data"
substring_count = string.count(substring)
print(f"The substring '{substring}' appears {substring_count} times in the string")

The substring 'data' appears 1 times in the string

Find a substring in string using `find` and `index` function

In [ ]:
# .find() => if present it will return starting index, not found then it will return -1
# .index() => if present it will return starting index, not found then it will give error

print("using .find() : ",string.find('data'))
print("using .index() : ",string.index('data'))

using .find() :  32
using .index() :  32

In [ ]:
### Checking whether string `startswith` or `endswith` a particular substring or not

string.startswith('We')
string.endswith('CollegeRanker')

True

In [ ]:
### Converting string to upper case ###

string.upper()

'WE ARE CREATING NEXT GENERATION DATA SCIENCE ECO-SYSTEM AT COLLEGERANKER'

In [ ]:
### Converting only first character of string to upper case

string.capitalize()

'We are creating next generation data science eco-system at collegeranker'

In [ ]:
### Checking if string is in lower case or upper case

print(string.islower())
print(string.isupper())

False
False

In [ ]:
### Checking if string is digit, alpabetic, alpha-numeric

print(string.isalnum())
print(string.isalpha())
print(string.isdigit())

False
False
False

In [ ]:
# assign "C++ is easy to learn" to a new_str variable

new_str = "C++ is easy to learn"

In [ ]:
### Replace C++ with Python

new_str.replace('C++','Python')

'Python is easy to learn'

In [ ]:
### Use Split function on new_str ###

new_str.split()

['C++', 'is', 'easy', 'to', 'learn']

# **`Python Functions`**

In [ ]:
"""
def function_name():
    stetement(s)
"""

'\ndef function_name():\n    stetement(s)\n'

In [ ]:
# define a function with welcome_message(name) and body 'Welcome to Functions !!!'

def welcome_message(name):
    print(f'Welcome to Functions {name}!!!')

In [ ]:
# call a function with your name

welcome_message('Aishwarya')

Welcome to Functions Aishwarya!!!

* `def` Keyword marking start of function
* `function name` to uniquely identify function
    * `function naming` follows same `rules of writing identifiers`
* `parameters`(arguments) to pass values to a function => totally optional
* `()` paranthesis
* `colon (:)` start of function
* `documentation string`(docstring) describe's what function does => totally optional
* `return statement` returns a value from function => totally optional
* inside colon is `function definition` it should always be present before function call or get an error

In [ ]:
# Write a function to add two number which are as 3 and 4
# in total variable store adition of 3 + 4
# print total variable

a = 3
b = 4
def add(a,b):
    total = a + b
    return total

total = add(a, b)
print(total)

7

# ***`Positional Arguments`***
Most arguments are identified by their position in function call
* Say `print(x,y)` will give different results from `print(y,x)`

What ever sequence is given while defining a function values must be taken in that sequence only
* Otherwise use argument name **`(keyword arguments)`** to take values
* We first define `positional argument` and then `keyword arguments`

In [ ]:

def substraction_function(small_number,large_number):
    difference = large_number - small_number
    return difference

In [ ]:
# pass arguments in right order

small_number = 45
large_number = 75
print(f"{small_number} is smaller than {large_number}")
substraction_function(small_number,large_number)

45 is smaller than 75

30

In [ ]:
# always pass arguments using there name(keyword arguments) then order does not matter

substraction_function(large_number=75,small_number=45)

30

# ***`Scope of Variables`*** means that part of program where we can access particular variable
* `Local Variable` => variables defined inside a function and can be only accessed from inside of that particular function
* `Global Variable` => variables defined outside a function and can be accessed throughout program

Let's define a global variable, `"global_variable"` outside function
* We will return its value using a function `"randome_function"` and see that we would be able to access its value using that function also

In [ ]:
#### Observe every output from here onwords #####
# defining a global variable
global_variable = 'variable outside of function'

# defining function
def random_function():
    # accessing variable which is outside of this function
    return global_variable

In [ ]:
random_function()

'variable outside of function'

`See we can acess the data of golbal variable from Inside of the Function`

# **`=> Let's see what will happen if we try to change value of global variable from Inside of the Function`**

In [ ]:
#### Observe every output from here onwords #####
# defining a global variable
global_variable = 'variable outside of function'

# defining function
def random_function():
    # changing value of global variable from inside of the function
    global_variable = 'changing variable outside of function from inside of function'
    # accessing variable which is outside of this function
    return global_variable

In [ ]:
print(random_function())
print(global_variable)

changing variable outside of function from inside of function
variable outside of function