<a href="https://colab.research.google.com/github/WebAishwarya/Data-Analyst_Unified-Mentor/blob/main/PythonBasics_Day3_UnifiedMentor.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# DAY 3

---

# 3.1 Python Loops

# For Loop

*   It is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).
*   Using Break & Contiue keyword

In [ ]:
fruits = ["apple", "banana", "cherry",'pineappple','mango']

for x in fruits:
  print(x)

apple
banana
cherry
pineappple
mango

In [ ]:
# For loop using Break Statement
for x in fruits:
  print(x)
  if x == "banana":
    break

apple
banana

In [ ]:
# For loop using Continue Statement
for x in fruits:
  if x == "cherry":
    continue
  print(x)

apple
banana
pineappple
mango

# While Loop

*   With the while loop we can execute a set of statements as long as a condition is true.
*   Using Break & Contiue keyword

In [ ]:
num = 1

while num < 11:
  print(num)
  num += 1

1
2
3
4
5
6
7
8
9
10

In [ ]:
# While loop using Break Statement
num = 1

while num < 11:
  print(num)
  if num == 7:
    break
  num = num + 1

1
2
3
4
5
6
7

In [ ]:
# While loop using Continue Statement
num = 0

while num < 10:
  num += 1
  if num == 5:
    continue
  print(num)

1
2
3
4
6
7
8
9
10

# 3.2 Python Functions

*   A function is a block of code which only runs when it is called.

*   Advanced Functions - lambda, map, zip

In [ ]:
def my_function():                    # Function Definition
  print("Hello, I'm from a function")

In [ ]:
my_function()             # Function Calling

Hello, I'm from a function

In [ ]:
def my_ID(name):                    # Function with Arguments
  print("12_" + name)

my_ID("Aishwarya")

12_Aishwarya

**Lambda Function**

In [ ]:
def add(a,b,c):
  return a+b+c

add(4,5,1)

10

In [ ]:
# Using Lambda Function

add = lambda a,b,c: print(a+b+c)
add(4,5,7)

16

In [ ]:
type(add)

function

**Map Function**

In [ ]:
nums = [1, 2, 3, 4, 5]

def sq(n):
    return n*n

square = map(sq, nums)

print(list(square))

[1, 4, 9, 16, 25]

In [ ]:
type(square)

map

**Zip Function**

In [ ]:
name = ["Shubham", "Om", "Aishwarya"]
ID = [4, 1, 3]

mapped = zip(name, ID)

print(list(mapped))

[('Shubham', 4), ('Om', 1), ('Aishwarya', 3)]

In [ ]:
type(mapped)

zip