<a href="https://colab.research.google.com/github/WebAishwarya/Data-Analyst_Unified-Mentor/blob/main/PythonBasics_Day2_UnifiedMentor.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# DAY 2

---


# 2.1 List and it's Methods

Lists are used to store multiple items in a single variable.

*   Lists are used to store multiple items in a single variable.
*   It is a collection which is ordered, changeable and allows duplicate members.

**List Methods**


append(), sort(), reverse(), remove(), pop(), insert(), index(), extend(), count(), copy(), clear()

In [ ]:
 fruits = ['apple', 'cherry', 'banana']

In [ ]:
 fruits.append("orange")     # append adds element at last position
 fruits

['apple', 'cherry', 'banana', 'orange']

In [ ]:
fruits.sort()
fruits

['apple', 'banana', 'cherry', 'orange']

In [ ]:
fruits.reverse()
fruits

['orange', 'cherry', 'banana', 'apple']

In [ ]:
fruits.remove("banana")
fruits

['orange', 'cherry', 'apple']

In [ ]:
fruits.pop(1)    # Removing element
fruits

['orange', 'apple']

In [ ]:
fruits.insert(1, "watermelon")    # insert element at desired position
fruits

['orange', 'watermelon', 'apple']

In [ ]:
fruits.index("watermelon")

1

In [ ]:
others = ['pineapple', 'strawaberry', 'guava','cherry','pineapple']

In [ ]:
fruits.extend(others)
fruits

['orange',
 'watermelon',
 'apple',
 'pineapple',
 'strawaberry',
 'guava',
 'cherry',
 'pineapple']

In [ ]:
fruits.count("cherry")

1

In [ ]:
fruits.count("pineapple")

2

In [ ]:
fruits.copy()

['orange',
 'watermelon',
 'apple',
 'pineapple',
 'strawaberry',
 'guava',
 'cherry',
 'pineapple']

In [ ]:
fruits.clear()

In [ ]:
fruits

[]



---

# 2.2 String and it's Methods

*   All string methods returns new values. They do not change the original string.

**String Methods**


*   isalpha(), isalnum(), index(), find(), count(), capitalize(), isdigit(), islower(), isnumeric()
*   endswith(), upper(), title(), swapcase(), strip(), startswith(), split(), join(), lower(), replace()

**capitalize()**

In [ ]:
txt = "hello, and welcome to our course."
a = txt.capitalize()
print(a)

Hello, and welcome to our course.

**count()**

In [ ]:
txt = "I am from India and born in Maharashtra, India"
b = txt.count("India")
print(b)

2

**find()**

In [ ]:
txt = "I love apples, apple are my favorite fruit"
c = txt.find("apple")
print(c)

# If we don't find out specified string, it will return -1
c_ = txt.find("banana")
print(c_)

7
-1

**index()**

In [ ]:
d = txt.index("apple")
print(d)
# It will throw an error, if an element is not present or found

7

**split()**

In [ ]:
txt = "hello, my name is Peter, I am 26 years old"
e = txt.split()   # By default it is space
print(e)

e = txt.split(',')
print(e)

['hello,', 'my', 'name', 'is', 'Peter,', 'I', 'am', '26', 'years', 'old']
['hello', ' my name is Peter', ' I am 26 years old']

**isalnum()**

In [ ]:
txt = "Company12"
name = txt.isalnum()   # is alphanumeric - only throws result in true and false
print(name)

True

**isalpha()**

In [ ]:
txt = "Company"
alpha = txt.isalpha()   # is alphabetic - only contains alphabets - only throws result in true and false
print(alpha)

True

**isdigit()**

In [ ]:
txt = '50800'
num = txt.isdigit()
print(num)

True

**join()**

In [ ]:
names = ["Data", "Analyst", "Intern"]
joined = "_".join(names)
print(joined)

Data_Analyst_Intern

**replace()**

In [ ]:
txt = "I love sports"
result = txt.replace("sports", "cricket")
print(txt)
print(result)

I love sports
I love cricket

**startswith() & endswith()**

In [ ]:
txt = "Hello, welcome to my world."
start = txt.startswith("Hello")
end = txt.endswith(".")

start, end

(True, True)



---

# 2.3 Python Conditional Statements


*   If , elif, else statements

**If Statement**

In [ ]:
a , b = 33 , 200

print(b>a)

if b > a:
  print("b is greater than a")

True
b is greater than a

**If elif Statement**

In [ ]:
aman , vinod = 80 , 80

if vinod > aman:
  print("vinod scores greater than aman")
elif aman == vinod:
  print("Both scores equally")

Both scores equally

**If elif else Statement**

In [ ]:
aman , vinod = 80 , 50

if vinod > aman:
  print("vinod scores greater than aman")
elif aman == vinod:
  print("Both scores equally")
else:
  print('aman scores greater than vinod')

aman scores greater than vinod

**Nested If Statement**

In [ ]:
marks = 72

if marks > 35:
  print("He is Pass")
  if marks > 60:
    print("He is in Distinction")
  else:
    print("He is in Mid Range")
else:
  print('Sadly, He is Fail')

He is Pass
He is in Distinction



---